/* General Styling */
body {
    scroll-behavior: smooth;
    background-color: #eef2f5; /* Light and pleasant background color */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1020;
}

section {
    padding: 50px 0;
}

/* About Section */
#about {
    background-color: #f8f9fa; /* Subtle light background for the intro */
    text-align: center ;
}

.intro-text {
    font-size: 1.2rem;
    color: #495057;
    max-width: 600px;
    margin: auto;
    text-align: left ;
}

.photo-container img {
    border: 5px solid #007bff;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Skills Section */
.skill-icon {
    font-size: 3rem;
    margin: 10px;
    color: #007bff;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.skill-icon:hover {
    transform: scale(1.2);
    color: #0056b3;
}

/* Footer */
footer {
    background-color: #e9ecef;
    padding: 20px 0;
    color: #495057;
    font-size: 0.9rem;
    text-align: center;
}
